* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*#region Cabeçalho */
header {
    width: 100%;
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 130px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    margin-right: 25px;
    transition: all 0.8s;
    padding: 12px;
    border-radius: 5px;
}

.logo-imagem:hover {
    background-color: rgb(170, 37, 37);
}

.logo-titulo {
    transition: all 0.8s;
    border-radius: 20px;
    padding: 10px 0;
}

.logo-titulo:hover {
    background-color: rgb(170, 37, 37);
}

.logo-titulo a {
    color: white;
    font-family: "Square Peg", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 58px;
    text-decoration: none;
    padding: 15px 15px 15px 0;
}

.container-menu-cabecalho {
    display: flex;
    align-items: center;
}

.menu-cabecalho li {
    /* Deixar as opções do menu alinhadas horizontalmente */
    display: inline-block;
    margin: 0 10px;
}

.menu-cabecalho li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 25px 12px;
    border-radius: 10px;
    transition: all 0.6s;
    cursor: pointer;
}

.menu-cabecalho li a:hover {
    background-color: rgb(170, 37, 37);
}

.menu-pesquisa input[type=text] {
    padding: 6px 15px 6px;
    border: none;
    border-radius: 10px;
    margin: 16px;
    font-size: 16px;
}

.menu-pesquisa a {
    background-color: white;
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-pesquisa a:hover {
    background-color: black;
    color: white
}

/*#endregion */

/* #region Aside */
.menu-lateral {
    width: 17%;
    float: left;
    background-color: rgb(138, 33, 33);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 15px;
}

.menu-lateral h2 {
    padding: 0 6px 10px;
    border-bottom: 3px ridge white;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-lateral h3 {
    font-size: 22px;
    text-align: left;
    padding: 10px 10px 10px 0;
    margin: 50px 0 0;
    /* background-color: ; */
    color: white;
    /* border-top: 3px ridge white; */
    border-bottom: 3px ridge white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-lateral li {
    list-style: none;
    padding: 12px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.7s;
    align-items: left;
}

.menu-lateral a {
    text-decoration: none;
}

.menu-lateral li:hover {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(138, 33, 33);
}

.menu-lateral .box-recomendacoes {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgb(180, 180, 180);
}

.menu-lateral .box-recomendacoes img {
    width: 100%;
    height: 100px;
}

.menu-lateral .box-recomendacoes h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 26px 0 6px;
    padding: 10px 0 2px;
    color: rgb(138, 33, 33);
}

.menu-lateral .box-recomendacoes p {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    padding: 10px 5px 5px 8px;
}

.container-comprar-menor {
    display: flex;
    justify-content: space-around;
}

.preco-menor {
    margin: 14px 0;
    font-size: 16px;
}

.botao-menor {
    text-align: center;
    margin: 14px 0;
}

.botao-menor a {
    background-color: rgb(138, 33, 33);
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.botao-menor a:hover {
    background-color: rgb(240, 27, 27);
}

/* #endregion */

/* #region Main */
main {
    width: 80%;
    padding: 20px;
    float: right;
}

.banner img {
    width: 100%;
    height: 320px;
    padding: 0;
    margin-bottom: 50px;
    border: 4px ridge rgb(138, 33, 33);
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: 3px ridge rgb(138, 33, 33);
    margin: 0 0 10px;
}

.titulos-categorias-porodutos {
    display: block;
    color: white;
    background-color: rgb(138, 33, 33);
    padding: 16px 20px;
    font-size: 28px;
}

.container .box-produto {
    width: 31%;
    height: 450px;
    padding: 15px;
    margin: 10px;
    border: solid 1px rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(180, 180, 180);
    transition: transform 0.3s;
}

.container .box-produto:hover {
    transform: scale(1.025);
    border: 3px solid rgb(138, 33, 33);
}

.container .box-produto h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 0 15px;
    text-align: center;
    color: rgb(189, 30, 30);
}

.container .box-produto img {
    width: 100%;
    height: 200px;
}

.container .box-produto p {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    padding: 10px 5px 0;
}

.container-comprar {
    display: flex;
    justify-content: space-around;
}

.container .preco {
    margin-top: 30px;
    font-size: 20px;
}

.container .botao {
    text-align: center;
    margin-top: 34px;
}

.container .botao a {
    background-color: rgb(138, 33, 33);
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 15px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.container .botao a:hover {
    background-color: rgb(240, 27, 27);
}

/* #endregion */

/* #region Footer */
.rodape {
    width: 100%;
    background-color: rgb(138, 33, 33);
    float: inline-end;
    height: 30px;
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 5px 10px;
}

/* #endregion */

/* #region - LARGE (>992px <1200px) */
@media(min-width: 992px) and (max-width: 1200px) {

    /* #region Cabeçalho LARGE */
    header {
        padding: 8px;
    }

    .logo-imagem {
        margin-right: 5px;
        padding: 8px;
    }

    .logo-titulo {
        border-radius: 20px;
    }

    .logo-titulo a {
        font-weight: 300;
        font-size: 46px;
        padding: 15px;
    }

    .menu-cabecalho li a {
        font-size: 14px;
        padding: 25px 15px;
    }

    .menu-pesquisa input[type=text] {
        padding: 6px 5px 6px;
        border-radius: 10px;
        margin: 10px;
        font-size: 12px;
    }

    .menu-pesquisa a {
        font-size: 14px;
        padding: 6px 8px;
        border-radius: 8px;
    }

    /* #endregion */

    /* #region Aside LARGE */
    .menu-lateral {
        width: 16%;
    }

    .menu-lateral h2 {
        padding: 0 0 10px;
        font-size: 19px;
    }

    .menu-lateral h3 {
        font-size: 16px;
        padding: 10px 10px 10px 0;
    }

    .menu-lateral li {
        padding: 12px 12px 12px 8px;
        font-size: 14px;
        align-items: left;
    }

    .menu-lateral .box-recomendacoes h4 {
        font-size: 16px;
    }

    .menu-lateral .box-recomendacoes p {
        font-size: 12px;
        padding: 10px 4px 0;
        text-align: center;
    }

    .container-comprar-menor {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .preco-menor {
        margin: 14px 0;
        padding-bottom: 6px;
        font-size: 14px;
        text-align: center;
    }

    /* #endregion */

    /* #region Main LARGE */
    .container .box-produto {
        width: 30%;
    }

    .container .box-produto p {
        font-size: 13px;
    }

    .container-comprar {
        display: flex;
        justify-content: space-around;
    }

    .container .preco {
        margin-top: 30px;
        font-size: 19px;
    }

    .container .botao {
        margin-top: 30px;
    }

    /* #endregion */
}

/* #endregion */

/* #region - MEDIUM (>768px <991px) */
@media(min-width: 768px) and (max-width: 991px) {

    /* #region Cabeçalho MEDIUM */
    header {
        padding: 4px;
    }

    .logo-imagem {
        padding: 10px 10px 10px 5px;
    }

    .logo-titulo a {
        font-size: 38px;
        padding: 15px 8px 15px 0;
    }

    .menu-cabecalho li a {
        font-size: 12px;
        padding: 25px 8px;
    }

    .menu-pesquisa input[type=text] {
        padding: 6px 2px 6px;
        border-radius: 8px;
        margin: 6px;
        font-size: 10px;
    }

    .menu-pesquisa a {
        font-size: 12px;
        padding: 4px;
    }

    /* #endregion */

    /* #region Aside MEDIUM */
    .menu-lateral {
        width: 20%;
    }

    .menu-lateral h2 {
        padding: 0 0 10px;
        font-size: 19px;
    }

    .menu-lateral li {
        padding: 8px;
        font-size: 14px;
    }

    .menu-lateral h3 {
        font-size: 15px;
    }

    .menu-lateral .box-recomendacoes h4 {
        font-size: 16px;
    }

    .menu-lateral .box-recomendacoes p {
        font-size: 12px;
    }

    .botao-menor a {
        font-size: 14px;
    }

    .container-comprar-menor {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .preco-menor {
        margin: 14px 0;
        padding-bottom: 6px;
        font-size: 14px;
        text-align: center;
    }

    /* #endregion */

    /* #region Main MEDIUM */
    main {
        width: 76%;
        padding: 16px;
        float: right;
    }

    .container .box-produto {
        width: 45%;
    }

    .container .box-produto p {
        font-size: 13px;
    }

    .container-comprar {
        display: flex;
        justify-content: space-around;
    }

    .container .preco {
        margin-top: 33px;
        font-size: 17px;
    }

    .container .botao a {
        font-size: 18px;
        padding: 10px;
    }

    /* #endregion */

}

/* #endregion */
